body,
html {
  height: 100%;
}
/*navbar*/

.logo {
  width: 5%;
  height: 5%;
  margin: 5px;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar {
  --bs-navbar-brand-font-size: 3rem !important;
}

.nav-link {
  font-size: 1.3rem !important;
  color: #000000 !important;
}
.nav-link:hover {
  color: #009ada !important;
}
/*navbar*/

/*slid*/
#testimonials {
  text-align: center;
  background-color: #009ada;

  color: #ffffff;
}

.carousel-item {
  padding-top: 2%;
  padding-bottom: 2%;
}

.testimonials-img {
  width: 60%;
  border-radius: 10px;
  margin: 1.5rem;
}
/*slid*/

/*featuer*/
#features {
  padding: 10% 5%;
  text-align: center;
}

#features p {
  opacity: 0.6;
}

i {
  padding-bottom: 10%;
  color: #009ada;
}

i:hover {
  padding-bottom: 10%;
  color: #000000;
}
/*featuer*/
.container {
  overflow: hidden;
}

/*filter*/

.filterDiv {
  float: left;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}
.filterDiv p {
  color: #000000;
  opacity: 0.7;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #009ada;
  color: white;
}
.container img {
  width: 80%;
  margin: 15px;
}

h2 {
  font-size: 1.5rem !important;
}
/*filter*/

/*cover*/
.cover {
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 500px;
  border: 1px solid #009ada;
}

.cover h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  color: #009ada;
}

.cover p {
  padding: 1rem;
  color: #000000;

  font-family: serif;
}

/*cover*/
